:root {
  --white: #efefef;
  --black: #1e1e1e;
  --bg: var(--white);
  --fg: var(--black);
  --primary: rgb(231, 59, 147); /* pink */
  --secondary: #a463b0; /* lilac */
  --shadow: rgba(0, 0, 0, 0.1);
  --light-text: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--black);
    --fg: var(--white);
    --shadow: rgba(255, 255, 255, 0.1);
  }
}

html {
  background: var(--bg);
  color: var(--fg);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 22px;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

h1 + p:has(em:only-child),
h3 + p:has(em:only-child) {
  margin-top: -1.25rem;
}
a {
  color: var(--primary);
  text-decoration: none;
  border-bottom: 1px solid var(--shadow);
  transition: border-color 150ms;
}

a:focus,
a:hover {
  border-bottom-color: var(--primary);
}

em:only-child {
  color: var(--lightText);
}

.responsiveVideoWrap {
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
}

.responsiveVideoWrap iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 38rem;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.metadata {
  color: var(--light-text);
}

code {
  padding: 2px 5px;
  background-color: var(--shadow);
  border-radius: 4px;
  box-shadow: 0 0 0.2em var(--shadow) inset;
}

pre {
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

pre > code {
  all: unset;
}

blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
