:root {
  --white: #efefef;
  --black: #1e1e1e;
  --bg: var(--white);
  --fg: var(--black);
  --primary: rgb(231, 59, 147); /* green */
  --secondary: #AAD055; /* lilac */
  --tertiary: #A463B0; /* pink */
  --shadow: rgba(0, 0, 0, .1);
  --lightText: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--black);
    --fg: var(--white);
    --shadow: rgba(255, 255, 255, .1);
  }
}

html {
  background: var(--bg);
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary);
  text-decoration: none;
  border-bottom: 1px solid var(--shadow);
}

a:focus,
a:hover {
  color: var(--secondary);
}

a:active {
  color: var(--tertiary);
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

h1 + p:has(em:only-child),
h3 + p:has(em:only-child) {
  margin-top: -1.25rem;
}

em:only-child {
  color: var(--lightText);
}

.responsiveVideoWrap {
  padding-bottom:56.25%;
  height:0;
  position:relative;
  padding-top:30px;
  overflow:hidden;
}

.responsiveVideoWrap iframe {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
